.main-div {
  background-color: #8080804f;
  position: relative;
  margin-top: 5% !important;
  width: 80%;
  margin-right: 20%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  min-height: 500px;
  margin: auto;
}

img {
  overflow: auto;

}