.main-div {
  background-color: #8080804f;
  position: relative;
  width: 70%;
  margin-right: 20%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  min-height: 430px;
  margin: auto;
}

img {
  overflow: auto;

}
#nav_line{
  width: 100%;
  margin-top: 10%;
  height: 50px;
  margin-left: -1%;
}
#oyster1{
  height: 100px;
    width: 13%;
}
#oyster3{
  position: absolute;
  right: 100px;
  top: 39%;
}
#object{
    position: relative;
    margin-top: -11px;
    height: 75px;
    margin: 0 auto;
}
#over img {
  margin-left: auto;
  margin-right: auto;
  display: block;
}
#over{
  position: absolute;
  margin-top: -16px;
  margin-right: 10%;
}
.instruct{
  display: flex;
    align-items: flex-end;
    align-content: flex-end;
    height: 100px;
    justify-content: space-around;
}

.instruct p{
  font-size: 22px;
    font-weight: 500;
    color: #0000009e;
}